<div class="page-header without-margin-top">
  <h2><%= t(:sign_up)%></h2>
</div>
<div class="row">
  <div class="col-md-8">
    <div id='general' class='panel panel-default'>  
      <div class="panel-body">
         <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
           <%= devise_error_messages! %>


          <div class='form-group'>
            <div class='col-sm-10'>
              <%= f.email_field :email, autofocus: true, placeholder: t(:name), class: 'form-control' %>
            </div>
          </div>

          <div class='form-group'>
            <div class='col-sm-10'>
              <%= f.password_field :password, autocomplete: "off", placeholder: t(:password), class: 'form-control' %>
            </div>
          </div>

          <div class='form-group'>
            <div class='col-sm-10'>
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: t(:password_confirmation), class: 'form-control' %>
            </div>
          </div>        
          
          <div class='form-group'>
            <div class='col-sm-10'>
              <img id="preview" src="#" alt=""  class="img-rounded" />
            </div>
          </div>

          <div class='form-group'>
            <div class='col-sm-10'>
              <%= f.file_field :avatar, class: 'filestyle', id:'photo' %>
            </div>
          </div> 
         
          <div class='form-group'>
            <div class='col-sm-10'>
              <%= f.submit t(:sing_up), class: 'btn btn-primary' %>
              <%= link_to "Sign in", new_session_path(resource_name) %><br />
            </div>
          </div> 
      
        <% end %>
      
      </div>
    </div> 
  </div> 
</div>          

<%= render "devise/shared/links" %>
