<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t(:taco_manager), root_path, {class: 'navbar-brand'} %>
      <%= link_to t(:new_order), new_order_path, {class: 'navbar-brand'} %>
      <%= link_to t(:food_palces), food_places_path, {class: 'navbar-brand'} %>
    </div>
    <% if user_signed_in? %>
      <div class='navbar-right'> 
        <ul class='nav navbar-nav'>
          <li class="reubic">
            <%= image_tag current_user.avatar.avatar %>
          </li>
          <li>
            <%= link_to current_user.email, edit_user_registration_path %>
          </li>
          <li>
            <%= link_to t(:sign_out), destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </div>
    <% else %>    
      <%= form_tag(user_session_path, method: :post, class: 'navbar-form navbar-right', role: 'form' ) do %>
        <div class="form-group">
          <%= text_field_tag 'user[email]', '', placeholder: 'Email', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= password_field_tag 'user[password]' ,'', placeholder: 'Password', class: 'form-control' %>
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>    
      <% end %>
    <% end %>
  </div>
</nav>