<%= form_for @order, html: {class: 'form-horizontal', role: 'form'} do |form| %>
  <div class="row">
    <div class="col-md-7">
      <div id='general' class='panel panel-default'>  
        <div class="panel-body">
           <div class='form-group'>
              <div class='col-sm-10'>
                <%= form.select :food_place_id, @food_places.map {|place| [place.name, place.id]},{} , {class: 'form-control chosen', data: {placeholder: 'Choose food place'}} %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10">
                <% if @menu_options %> 
                  <%= form.fields_for :menu_line_items, html: {class: 'form-horizontal', role: 'form'} do |menu_line_item| %>
                    <%= render 'menu_line_item_fields', f: menu_line_item %> 
                  <% end %>
                  <%= link_to_add_association form, :menu_line_items , {:class => 'btn btn-link"'} do%>
                    <span class="glyphicon glyphicon-plus"></span>
                  <% end %>
                <% end %>
              </div>
            </div> 
            <div class='form-group'>
              <div class='col-sm-10'>
                <%= form.submit "Submit" , class: 'btn btn-default' %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>