<div class="field col-md-6">
      <div class='panel panel-default'>  
        <div class="panel-body">
          <fieldset>
            <legend><%=t(:order_details) %></legend>
            <table class="table table-striped table-bordered">  
              <tr>
                <th><%=t(:food_place) %></th>
                <th><%=t(:date) %></th>
                <th><%=t(:total) %></th> 
                <th><%=t(:status) %></th>
              </tr> 
              <% @orders.each do |order| %>
                  <tr>
                    <td><%= order.food_place.name %></td>
                    <td><%= order.created_at.to_date.to_formatted_s(:long_ordinal)%></td>
                    <td><%= order.total %></td>
                    <td><%= link_to t(:order_details), order_path(order)%> </td>  
                  </tr>
              <% end %>
            </table>
          </fieldset>
        </div>
      </div>    
    </div>  