
<div class="panel panel-default">

  <div class="panel-heading">
    <div class="food_places_list_header">
      <h1> <%= t(:all_places) %></h1>
      <%= link_to t(:new_food_place), new_food_place_path %>
    </div>
  </div>

  <div class="panel-body"> 
    <div id="food_places_list" class="row">
      <% @food_places.each do |food_place| %>
        <div class="col-md-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
               <%= food_place.name %>
              </p>
              <%= image_tag food_place.photo.processed%>
              <%= link_to t(:view), food_place_path(food_place) %>   
            </div>  
          </div>
        </div>
      <% end %>
    </div>
  </div>   
</div>
<%= paginate @food_places %>    