<div class="panel panel-default">
  <div class="panel-heading">
    <div class="page-header without-margin">
      <h1> <%= t(:food_places) %></h1>  
      <%= link_to t(:new_food_place), new_food_place_path, {class: 'btn btn-primary reubic-left', role: 'button'}  %>
    </div>
  </div>
  <div class="panel-body"> 
    <div id="food_places_list" class="row trio">
      <% @food_places.each do |food_place| %>
        <%= link_to food_place_path(food_place) do %>
          <div class="col-sm-2 col-md-4">
            <div class="thumbnail"> 
              <%= image_tag food_place.photo.processed, {class: 'img-rounded'} %>
                <div class="caption">
                  <h4><%= food_place.name %></h4>
                  <%= content_tag(:div,nil ,class: 'stars', data: { score: "#{food_place.rating}"}) %>
                </div>
            </div>
          </div> 
        <% end %>
      <% end %>
    </div>
  </div>   
</div>

<%= paginate @food_places %>



