<div id='general' class='panel panel-default'>   
  <div class="panel-body">
    <div class="page-header without-margin-top">
        <h1><%= @food_place.name %></h1>
<%= form_for @food_place, html: {class: 'form-horizontal', role: 'form', multipart: true} do |form| %>
        <%= content_tag(:div,nil ,class: 'eval reubic-2', data: { score: "#{@food_place.rating}"}) %>
        <%= form.hidden_field :stars, class: 'form-control count-stars'  %>
      <% end %>
    </div>
    <%= image_tag @food_place.photo.big, {class: 'img-rounded'} %>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="page-header">
              <h1><small><%= t(:location)%></small></h1>
            </div>
              <p><%= @food_place.address1 %></p>
              <p><%= @food_place.address2 %></p>
              <%= @food_place.state %>,<%= @food_place.city %>
          </div>
          <div class="col-md-6" >
            <div class="page-header">
              <h1><small><%= t(:phone_number)%></small></h1>
            </div>
              <h3><%= @food_place.phone_number %></h3>
          </div>  
        </div> 
        <div class="row reubic">
          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@food_place.latitude}%2C#{@food_place.longitude}", {class: 'img-rounded'} %>
        </div> 
      </div>
      <div class="col-md-6">
        <div class="page-header">
          <h1><small><%= t(:menu)%></small></h1>
          <%= link_to t(:place_new_order), new_order_path, {class: 'btn btn-primary reubic-right', role: 'button'}  %>
        </div>
          <%= render partial: 'menu_option', collection: @food_place.menu_options %>
      </div>
    </div>
  </div>  
