<h1><%= @food_place.name %><h1>

<div id='general' class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title'> <%= t(:general_information) %> </h3>
  </div>
  <div class='panel-body'>
    <%= @food_place.name %>
    <%= @food_place.phone_number %>
    <%= @food_place.time %>
  </div>
</div>

<div id='address' class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title'> <%= t(:address) %> </h3>
  </div>
  <div class='panel-body'>
    <%= @food_place.address1 %>
    <%= @food_place.address2 %>
    <%= @food_place.state %>
    <%= @food_place.city %>
  </div>
</div>